@media (max-width:1024px){
  /*about*/
}

@media(max-width: 991px)
{
    /* custom classes */
    .text-content{
        width: 100%;
    }

    /*Navbar brand*/
    .navigation-wrap .navbar-brand img{
        height: 3.8125rem;
    }

    .navigation-wrap{
        text-align: center;
        background-color: var(--white-color);
    }

    .navigation-wrap .nav-link{
        line-height: 1.87rem;
    }

    /*Banner design */
    .top-banner{
        padding: 9.375rem 0 9.375rem;
    }
}


@media (max-width: 767px)
{
    /*custom css */
    h1{
        font-size: 2.8rem;
    }

    h2{
        font-size: 2rem;
        line-height: 2.0625rem;
    }

    /* top banner */
    .top-banner{
        padding: 10.875rem 0 9.375rem;
    }

    /*story section */
    .story-section{
        height: auto;
        padding: 3rem 0;
    }

    /* Annual subscipsction */
    .subs{
        width: 75%;
    }

    .subs .main-btn{
        width: 100%;
        margin-top: 1rem;
    }

    /*footer */
    .footer .list-unstyled .social-icons,
    .footer a i{
        padding: 0 0.7rem;
    }
}